/*console*/

.console-container {
  display: flex;
  //margin: 80px 0;
  margin: 20% 0;
  flex-direction: column;
}

.header-console {
  display: flex;
  height: 28px;
  align-items: center;
  background-color: #c4cad0;
  border-radius: 10px 10px 0 0;
}

.right-console {
  margin-left: 3%;

  .material-icons {
    padding-right: 20px;
  }
}

.right-console-home {
  margin-left: 30%;
}

.shadow-console {
  padding: 50px 0;
  margin-bottom: 60px;
  border-radius: 0 0 4px 4px;
  font-family: monaco,Consolas,Lucida Console,monospace;
  background-color: $dark-blue;
  box-shadow: 0 50px 100px rgba(50, 50, 93, .15), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .12);
  height: 800px;
}

.red-button {
  background-color: #f96256;
  border: 1px solid #f65549;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}

.yellow-button {
  background-color: #fdbc3d;
  border: 1px solid #ffb524;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}

/*text*/
.text-console {
  color: white;
  background-color: $dark-blue;
}

.text-result {
  color: #e7d184;
  background-color: $dark-blue;
}

.text-result a {
  color: #35feff !important;
}

.text-console:before {
  content: ">\A0";
}

/*About Me*/
#about {
  margin-top: 0;
  margin-bottom: 100px;
  text-align: center;
  font-size: 67px;
  line-height: 2.222rem;
  color: #525f7f;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.fa-heart {
  color: red;
}

.text-console > span {
  animation: _23jOr 1s steps(1) infinite;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}

.red-button {
  background-color: #f96256;
  border: 1px solid #f65549;
}

.yellow-button {
  background-color: #fdbc3d;
  border: 1px solid #ffb524;
}

.green-button {
  background-color: #33c948;
  border: 1px solid #2dbb41;
}

.container-text-console {
  margin: 10px 40px;
  line-height: 53px;
  font-size: 23px;
}

.text-console {
  color: #f0f0f0;
}

.text-console:before {
  content: ">\A0";
}

.text-console > span {
  background-color: hsla(0, 0%, 97%, .65);
}

.text-result {
  color: #e7d184;
}

.text-result a {
  color: #35feff !important;
}

.text-result a:hover {
  background-color: #fff;
}

.titles {
  position: relative;
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 53px;
  line-height: 2.222rem;
  color: $dark-blue;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.link-box {
  position: relative;
  display: flex;
  margin: 40px 0;
  background-size: cover;
  border-radius: 4px;
  width: 100%;
  height: 39vh;
}

